html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "PT Sans", Arial, Helvetica; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px; }

.normal {
  font-weight: normal; }

.container {
  color: #363636;
  max-width: 1092px;
  min-width: 819px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  background-color: #F7F7F7; }

.display {
  min-width: 819px;
  min-height: 900px;
  height: 100vh;
  width: 100%; }

.col-1 {
  background-color: #fff; }

.row > .col-1 {
  width: 7.32601%;
  margin-right: 1.09891%; }

.row > .col-2 {
  width: 15.75092%;
  margin-right: 1.09891%; }

.row > .col-3 {
  width: 24.17584%;
  margin-right: 1.09891%; }

.row > .col-4 {
  width: 32.60076%;
  margin-right: 1.09891%; }

.row > .col-5 {
  width: 41.02567%;
  margin-right: 1.09891%; }

.row > .col-6 {
  width: 49.45059%;
  margin-right: 1.09891%; }

.row > .col-7 {
  width: 57.87551%;
  margin-right: 1.09891%; }

.row > .col-8 {
  width: 66.30043%;
  margin-right: 1.09891%; }

.row > .col-9 {
  width: 74.72534%;
  margin-right: 1.09891%; }

.row > .col-10 {
  width: 83.15026%;
  margin-right: 1.09891%; }

.row > .col-11 {
  width: 91.57518%;
  margin-right: 1.09891%; }

.row > .col-12 {
  width: 100.00009%;
  margin-right: 1.09891%; }

.row > .col-1:last-child {
  margin-right: 0px; }

.row > .col-2:last-child {
  margin-right: 0px; }

.row > .col-3:last-child {
  margin-right: 0px; }

.row > .col-4:last-child {
  margin-right: 0px; }

.row > .col-5:last-child {
  margin-right: 0px; }

.row > .col-6:last-child {
  margin-right: 0px; }

.row > .col-7:last-child {
  margin-right: 0px; }

.row > .col-8:last-child {
  margin-right: 0px; }

.row > .col-9:last-child {
  margin-right: 0px; }

.row > .col-10:last-child {
  margin-right: 0px; }

.row > .col-11:last-child {
  margin-right: 0px; }

.row > .col-12:last-child {
  margin-right: 0px; }

.row > .offset-1 {
  margin-left: 8.42492%; }

.row > .offset-2 {
  margin-left: 16.84983%; }

.row > .offset-3 {
  margin-left: 25.27475%; }

.row > .offset-4 {
  margin-left: 33.69967%; }

.row > .offset-5 {
  margin-left: 42.12459%; }

.row > .offset-6 {
  margin-left: 50.5495%; }

.row > .offset-7 {
  margin-left: 58.97442%; }

.row > .offset-8 {
  margin-left: 67.39934%; }

.row > .offset-9 {
  margin-left: 75.82425%; }

.row > .offset-10 {
  margin-left: 84.24917%; }

.row > .offset-11 {
  margin-left: 92.67409%; }

input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  margin: 0;
  padding: 0;
  display: none; }

a > label {
  /* inherit the hand cursor from the a tag */
  cursor: inherit; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

a {
  font-size: 14px;
  color: #363636; }
  a :hover {
    color: red; }

.icon {
  background-color: #fff;
  min-width: 50px;
  min-height: 50px;
  margin-right: 20px; }

p.comment {
  color: #a7a7a7; }

span {
  font-size: 14px;
  color: #363636; }

#load {
  background-color: #F7F7F7;
  padding-top: 20px; }

#agree .postscript span {
  color: green; }

#wait .postscript span {
  color: #a7a7a7; }

#disagree .postscript span {
  color: red; }

#agree form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#disagree form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#wait form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.loading {
  display: none;
  position: absolute; }

.block {
  display: block;
  position: relative; }
