@import "variables";
@import "mixins";

html{
    box-sizing: border-box;
    font: 14px $font-family, Arial, Helvetica;
}
*, *:before, *:after {
    box-sizing: inherit;
    }
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.normal{
    font-weight: normal;
}
.container {
    color: #363636;
    max-width: 1092px;
    min-width: 819px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    background-color: #F7F7F7;
}
.display{
    min-width: 819px;
    min-height: 900px;
    height: 100vh;
    width: 100%;
}
.col-1{
    background-color: #fff;
}
@for $i from 1 through 12 {
    .row > .col-#{$i} {
        width: ($width_col*$i) + ($margin-right-col * ( $i - 1 ));
        margin-right: $margin-right-col ;
     }
}
@for $i from 1 through 12{
    .row > .col-#{$i}:last-child {
        margin-right: 0px;
    }
}
@for $i from 1 through 11{
    .row > .offset-#{$i}{
        margin-left: ($width_col + $margin-right-col) * ($i);
    }
}
input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  a > label {
    /* inherit the hand cursor from the a tag */
    cursor:inherit;
  }
.flex{
    display: flex;
    justify-content: flex-start;

}
a {
    font-size: 14px;
    color: #363636;
    & :hover{
        color: red;
    }
}
.icon{
    background-color: #fff;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
}
p.comment{
    color:#a7a7a7;
}
span {
    font-size: 14px;
    color: #363636;
}
#load{
    background-color: #F7F7F7;
    padding-top: 20px;
}
#agree .postscript {
    & span {
    color: green;
    }
}
#wait .postscript{
    & span{
        color: #a7a7a7;
    }
}
#disagree .postscript{
    & span{
    color: red;
    }
}
#agree form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#disagree form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#wait form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.jcsb{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.loading{
    display: none;
    position: absolute;
}
.block{
    display: block;
    position: relative;
}